Xft.dpi: 144
Xcursor.size: 16

URxvt.foreground: rgb:ff/ff/ff
URxvt.background: rgb:00/00/00
URxvt.scrollBar: false

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.font: xft:Noto Sans Mono:style=Regular:pixelsize=24
